<!DOCTYPE html>
<html>
    <head>
<title>{{ title }}</title>
</head>
<body>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
   </center>
    <br>
    <h2>1-Lotto 6/49</h2>
    <h2>2-Lotto Max</h2>
    <h2>3-Grande Vie</h2>
    <h2>4-Tout ou rien</h2>
    <form role="form" method='POST' action='/'>
        <h2>What do you choose :<input type="text" name="choice" /></h2>
        <p><input type="submit" name="Submit" value="Submit" /></p>
    </form>
   {% autoescape false %}
        <h2>{{ result }}</h2>
  {% endautoescape %}
<!--   <img src="static/images/plot.png" alt="Total Spent"> -->
</body>

</html>